<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3 style="text-align: center">DANH MỤC </h3>
    <div>
        <a class="btn btn-outline-warning" th:href="@{/blog}" role="button">Quay lại trang chủ</a>
    </div>
    <div>
        <a class="btn btn-outline-warning" th:href="@{/blog/category/create}" role="button">Thêm mới Danh mục</a>
    </div>
    <div style="color: red" th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <table class="table table-hover">
        <tr>
            <th>STT</th>
            <th>Tên danh mục</th>
            <th>Bài viết theo mục</th>
            <th>Sửa</th>
            <th>Xoá</th>
        </tr>
        <tr th:each="category,status:${categoryList}">
            <td th:text="${status.count}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/blog/{id}/category/detail(id=${category.id})}">Chi tiết </a>
            </td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/blog/{id}/category/edit(id=${category.id})}">Sửa </a>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        th:attr="onclick=|sendInfoBlog(${category.id},'${category.name}')|">
                    Xoá
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/blog/category/delete}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xoá</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    Bạn có muốn xoá danh mục <span id="name_delete"></span> này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function sendInfoBlog(id, name) {
        document.getElementById("id").value = id;
        document.getElementById("name_delete").innerText = name;

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>