<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">
        Add new customer
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table border="1px" id="customers">
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer, status: ${customers}">
        <td th:text="${status.count}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${customer.id})}">Edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.id})}">Delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.id})}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>