<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
</head>
<body>
<div th:if="${pigList != null}">
    <table class="table table-hover">
        <tr>
            <th>STT</th>
            <th>Mã heo</th>
            <th>Ngày nhập chuồng</th>
            <th>Ngày xuất chuồng</th>
            <th>Trọng lượng nhập chuồng</th>
            <th>Trọng lượng xuất chuồng</th>
            <th>xuất xứ</th>
            <th>Xuất chuồng</th>
            <th>Chi tiết</th>
            <th>Xoá</th>
        </tr>
        <tr th:each="pig,status:${pigList}">
            <td th:text="${status.count}"></td>
            <td th:text="${pig.codePig}"></td>
            <td th:text="${pig.timeInput}"></td>
            <td th:text="${pig.timeOutput == null }? 'Chưa đến ngày xuất':${pig.timeOutput}">
            </td>
            <td th:text="${pig.weight}"></td>
            <td th:text="${pig.weightOut == null} ? ${pig.weight}:${pig.weightOut} "></td>
            <td th:text="${pig.origin.name}"></td>
            <td th:switch="${pig.timeOutput}">
            <span th:case="null">
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" th:attr="onclick=|sendId(${pig.id})|">
                    Bán
                </button>
            </span>
                <span th:case="*">
                <a class="btn btn-primary" role="button"> Đã bán</a>
            </span>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/edit(id=${pig.id})}" role="button">Chi tiết</a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        th:attr="onclick=|sendData(${pig.id},'${pig.codePig}')|">
                    Xoá
                </button>
            </td>
        </tr>
    </table>

</div>
<div th:if="${pigList == null}">
    Không có dữ liệu
</div>


<!-- Button trigger modal -->


<!-- Modal  xoá-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/delete}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="idDelete">
                    Bạn có muốn xoá <span id="name" style="color: red"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="sub" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal xuất chuồng -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/output}" method="post">
                <div class="modal-body">
                    Vui lòng chọn ngày xuất chuồng : <input type="date" name="date">
                    <input type="hidden" id="idOut" name="idOut">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function sendData(id, name) {
        document.getElementById("id").value = id;
        document.getElementById("name").innerText = name;
    }
    function sendId(id) {
        document.getElementById("idOut").value = id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
</body>
</html>