<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h3>Remove product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<form th:object="${product}" th:action="@{/product/delete}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Name product</label>
        <input type="text" id="name" th:field="*{name}" readonly>
    </div>
    <div>
        <label for="price">Price product</label>
        <input type="text" id="price" th:field="*{price}" readonly>
    </div>
    <div>
        <label for="describer">Describe product</label>
        <input type="text" id="describer" th:field="*{describer}" readonly>
    </div>
    <div>
        <label for="producer">Producer product</label>
        <input type="text" id="producer" th:field="*{producer}" readonly>
    </div>
    <input type="submit"value="Remove"/><br>

</form>
</body>
</html>